<div class="innerMainWrapp">
  <h1 class="title">Dishes</h1>

  <div class="dishesWrapp">
    <div
      class="dish extra"
      *ngIf="authService.user?.role === 'Admin'"
      (click)="popup()"
    >
      <mat-icon class="icon">add</mat-icon>
    </div>
    <div
      class="dish"
      *ngFor="let dish of dishesService.dishList | async"
      (click)="display(dish)"
    >
      <img
        [src]="dishesService.getImage(dish.image)"
        alt="dish.name"
        class="img"
      />
    </div>
  </div>
</div>

<app-add-popup *ngIf="generalService.popupShow"></app-add-popup>
