.innerMainWrapp {
  height: 80vh;
  width: 62vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5vh;
}

.title {
  font-size: 30px;
  color: #000;
  padding-left: 20px;
}

.dishesWrapp {
  width: 100%;
  min-height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.dish {
  width: 28%;
  height: 40%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid lightgray;
}

.extra {
  background-color: rgb(230, 228, 228);
}

.extra:hover {
  background-color: rgb(195, 195, 195);
}

.icon {
  transform: scale(2.5);
  color: rgb(151, 149, 149);
}

.extra:hover .icon {
  transform: scale(3);
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
