<div class="loading" *ngIf="spinner">
  Processing <mat-spinner class="spinner"></mat-spinner>
</div>

<div class="done" *ngIf="done">
  <p>Done!</p>
  <p>Thank you for your purchase</p>
  <p>Checkout your <a href="/orders">orders</a> from here</p>
</div>

<div class="pageWrapp" *ngIf="!done">
  <div class="pageInnerWrapp">
    <h1 class="title">Shipping Information</h1>
    <form class="form" [formGroup]="form1">
      <div class="cdInptWrapp">
        <label for="street">Street 1:</label>
        <input type="text" name="street" formControlName="street" />
      </div>
      <div
        class="cdInptWrapp"
        *ngIf="!street.valid && street.touched && street.dirty"
      >
        <p class="error"></p>
        <p class="error">Enter a valid address</p>
      </div>

      <div class="cdInptWrapp">
        <label for="city">City:</label>
        <input type="text" name="city" formControlName="city" />
      </div>
      <div
        class="cdInptWrapp"
        *ngIf="!city.valid && city.touched && city.dirty"
      >
        <p class="error"></p>
        <p class="error">Enter a valid city</p>
      </div>

      <div class="cdInptWrapp">
        <label for="state">State:</label>
        <select
          name="state"
          formControlName="state"
          size="{{ size }}"
          (focus)="this.size = 10"
          (blur)="this.size = 1"
          (change)="this.size = 1; this.extract()"
          class="list"
        >
          <option value="AL">AL</option>
          <option value="AK">AK</option>
          <option value="AR">AR</option>
          <option value="AZ">AZ</option>
          <option value="CA">CA</option>
          <option value="CO">CO</option>
          <option value="CT">CT</option>
          <option value="DC">DC</option>
          <option value="DE">DE</option>
          <option value="FL">FL</option>
          <option value="GA">GA</option>
          <option value="HI">HI</option>
          <option value="IA">IA</option>
          <option value="ID">ID</option>
          <option value="IL">IL</option>
          <option value="IN">IN</option>
          <option value="KS">KS</option>
          <option value="KY">KY</option>
          <option value="LA">LA</option>
          <option value="MA">MA</option>
          <option value="MD">MD</option>
          <option value="ME">ME</option>
          <option value="MI">MI</option>
          <option value="MN">MN</option>
          <option value="MO">MO</option>
          <option value="MS">MS</option>
          <option value="MT">MT</option>
          <option value="NC">NC</option>
          <option value="NE">NE</option>
          <option value="NH">NH</option>
          <option value="NJ">NJ</option>
          <option value="NM">NM</option>
          <option value="NV">NV</option>
          <option value="NY">NY</option>
          <option value="ND">ND</option>
          <option value="OH">OH</option>
          <option value="OK">OK</option>
          <option value="OR">OR</option>
          <option value="PA">PA</option>
          <option value="RI">RI</option>
          <option value="SC">SC</option>
          <option value="SD">SD</option>
          <option value="TN">TN</option>
          <option value="TX">TX</option>
          <option value="UT">UT</option>
          <option value="VT">VT</option>
          <option value="VA">VA</option>
          <option value="WA">WA</option>
          <option value="WI">WI</option>
          <option value="WV">WV</option>
          <option value="WY">WY</option>
        </select>
      </div>
      <div
        class="cdInptWrapp"
        *ngIf="!state.valid && state.touched && state.dirty"
      >
        <p class="error"></p>
        <p class="error">Enter a valid state</p>
      </div>

      <div class="cdInptWrapp">
        <label for="code">Zip Code:</label>
        <input
          type="text"
          name="code"
          formControlName="code"
          maxlength="5"
          minlength="5"
        />
      </div>
      <div
        class="cdInptWrapp"
        *ngIf="!code.valid && code.touched && code.dirty"
      >
        <p class="error"></p>
        <p class="error">Enter a valid zip code</p>
      </div>
    </form>

    <h1 class="title">Card Information</h1>
    <form class="form" [formGroup]="form">
      <div class="cdInptWrapp">
        <label for="card">Card number:</label>
        <input type="text" name="card" maxlength="19" formControlName="card" />
      </div>
      <div
        class="cdInptWrapp"
        *ngIf="!card.valid && card.touched && card.dirty"
      >
        <p class="error"></p>
        <p class="error">Enter a valid number</p>
      </div>

      <div class="cdInptWrapp">
        <label for="name">Name on card:</label>
        <input type="text" name="name" formControlName="name" />
      </div>
      <div
        class="cdInptWrapp"
        *ngIf="!name.errors?.['valid'] && name.touched && name.dirty"
      >
        <p class="error"></p>
        <p class="error">Enter a longer name</p>
      </div>

      <div class="cdInptWrapp">
        <label for="exp">Expiration date:</label>
        <input type="month" name="exp" formControlName="exp" />
      </div>
      <div
        class="cdInptWrapp"
        *ngIf="!exp.errors?.['valid'] && exp.touched && exp.dirty"
      >
        <p class="error"></p>
        <p class="error">Enter a valid date</p>
      </div>

      <div class="cdInptWrapp">
        <label for="sc">Security Code (CVV/CVC):</label>
        <input
          type="tex"
          name="sc"
          formControlName="sc"
          minlength="3"
          maxlength="4"
        />
      </div>
      <div
        class="cdInptWrapp"
        *ngIf="!sc.errors?.['valid'] && sc.touched && sc.dirty"
      >
        <p class="error"></p>
        <p class="error">Enter a valid number</p>
      </div>
    </form>
  </div>

  <div class="checkout">
    <div class="itemsWrapp">
      <h1>Order :</h1>
      <div class="item" *ngFor="let item of generalService.cart | keyvalue">
        <div class="imgName">
          <img class="img" [src]="getImage(+item.key)" alt="" />

          <h1 class="name">{{ getDish(+item.key).name }}</h1>
        </div>

        <div class="toolsWrapp">
          <h1 class="name">${{ getPrice(item.key, item.value) }}</h1>

          <div class="actionWrapp">
            <input
              class="number"
              type="number"
              min="1"
              max="99"
              value="{{ item.value }}"
              (change)="changeQ(item.key, $event)"
            />
            <mat-icon class="icon" (click)="delete(item.key)">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="subWrapp">
      <h1>Subtotal:</h1>
      <h2>${{ +prices.subtotal.toFixed(2) }}</h2>
    </div>

    <div class="subWrapp">
      <h1>Service:</h1>
      <h2>${{ +prices.service.toFixed(2) }}</h2>
    </div>

    <div class="subWrapp">
      <h1>Tax:</h1>
      <h2>${{ +prices.tax.toFixed(2) }}</h2>
    </div>

    <div class="subWrapp">
      <h1>Total:</h1>
      <h2>${{ +prices.total.toFixed(2) }}</h2>
    </div>

    <button class="btn" (click)="pay()" [disabled]="proceed()">
      Place Order <mat-icon class="icon">arrow_right</mat-icon>
    </button>
  </div>
</div>
